In [3]:
import pandas as pd 
import random as rm
import numpy as np
#import will2live

In [ ]:
# olaf quickfinger
# Ganut lazylust
# Beyla Anchorrib
# Cameron Leatherfist

In [4]:
df=pd.read_csv('NameGenerator.csv')

In [5]:
df.columns
df.drop(['No.'],axis=1,inplace=True)

In [6]:
df.rename(columns={'+ Noun (a)':'Noun (a)','+ Noun (b)':'Noun (b)'},inplace=True)
df

    First Name Epithet (a) Noun (a) Epithet (b) Noun (b)
0          Jon       Black     hand        Blue    staff
1         Jana       White   finger       Noble    crest
2     Dragomir        Gold     fist   Lightning  catcher
3          Wes      Silver   tongue         Cat  fetcher
4        Arron      Bronze    beard        Tide  fighter
..         ...         ...      ...         ...      ...
203     Specky      Spruce   scythe       Murky     moat
204      Peggy      Poison  chalice       Tough   mutton
205      Hamil      Beacon   keeper      Falcon    flare
206     Bethel         Far    flung    Mountain     lair
207     Aldric       Apple    house       Demon  scorned

[208 rows x 5 columns]

In [21]:
#  define the varied naming methods
methods = [
    lambda row: f"{row['First Name']} {row['Epithet (a)']}-{row['Noun (a)']}",
    lambda row: f"{row['First Name']} {row['Epithet (b)']}-{row['Noun (b)']}",
    lambda row: f"{row['First Name']} {row['Epithet (a)']}-{row['Noun (b)']}",
    lambda row: f"{row['First Name']} {row['Epithet (b)']}-{row['Noun (a)']}",
    lambda row: f"{row['First Name']} The {row['Epithet (a)'].capitalize()}",
    lambda row: f"{row['First Name']} The {row['Epithet (b)'].capitalize()}",
    lambda row: f"{row['First Name']} The {row['Noun (a)'].capitalize()}",
    lambda row: f"{row['First Name']} The {row['Noun (b)'].capitalize()}",
]

In [25]:
# Function to generate 5 names
def generate_names(df, n=5):
    names = []
    for _ in range(n):
        row = df.sample().iloc[0]  # Randomly pick a row
        method = rm.choice(methods)  # Randomly pick a method
        name = method(row)
        names.append(name)
    return sorted(names)  # Sort names alphabetically

# Generate and print 5 names
names = generate_names(df)
for name in names:
    print(name)

Clem(ence) The Calm
Jesper The Loyal
Joris The Gift
Olaf The Heart
Yunis Hound-breath

Oswin Spirit horn
Roisin The dart
Tegen The town
Wilber The Wild